{{#notloggedin}}
  <li class="list-inline-item list_s">
    {{#header_login_popup}}
    <a href="#" class="btn flaticon-user" data-toggle="modal" data-target="#exampleModalCenter"> <span class="dn-lg">{{#str}}login_register, theme_edumy{{/str}}</span></a>
    {{/header_login_popup}}
    {{#header_login_link}}
    <a href="{{{ config.wwwroot }}}/login"><div style="display: flex;
flex-direction: column;
align-items: flex-start;
padding: 6.72727px 23px;
gap: 6.73px;


width: 104.56px;
height: 37.45px;
left: 1152px;
top: 18px;

border: 1px solid #FFFFFF;
border-radius: 6.72727px;"class="" ><p style="width: 33px;
height: 24px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 13.4545px;
line-height: 24px;
/* identical to box height, or 175% */


color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;">Login</p></div></a>
   
    {{/header_login_link}}
  </li>
{{/notloggedin}}
